.spoiler {
  position: relative;
  display: inline-block;
  cursor: help;
}

.spoiler::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  color: white;
  background: black;
  opacity: 1;
  transition: opacity 0.7s ease, transform 0.3s ease;
}

.spoiler:hover::before {
  opacity: 0;
  transform: translateY(-50%)rotateX(80deg);
  transition: opacity 1.0s ease, transform 0.5s ease;
  transition-delay: 0.3s; // To not accidentally reveal the spoiler when hovering over the page
}

@font-face {
  font-family: "Chalkboy";
  src: url("/fonts/chalkboy.otf") format("opentype");
}

@font-face {
  font-family: "Chalktastic";
  src: url("/fonts/chalktastic.ttf") format("truetype");
}

@font-face {
  font-family: "PressStart2P";
  src: url("/fonts/press-start-2p.ttf") format("truetype");
}

@font-face {
  font-family: "RoughTypewriter";
  src: url("/fonts/rough-typewriter.otf") format("opentype");
}

.post-author {
  font-family: RoughTypewriter, monospace;
}

body {
  font-family: "RoughTypewriter", Monaco, Consolas, "Ubuntu Mono", monospace;
}

